<div class="bg-white">
  <div class="fixed inset-0 flex z-40 sm:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>
    <div class="ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-12 flex flex-col overflow-y-auto">
      <div class="px-4 flex items-center justify-between">
        <h2 class="text-lg font-medium text-gray-900">Filters</h2>
        <button type="button" class="-mr-2 w-10 h-10 bg-white p-2 rounded-md flex items-center justify-center text-gray-400">
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Filters -->
      <form class="mt-4">
        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="filter-section-0" aria-expanded="false">
              <span class="font-medium text-gray-900"> Category </span>
              <span class="ml-6 flex items-center">
                <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-0">
            <div class="space-y-6">
              <div class="flex items-center">
                <input id="filter-mobile-category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-0" class="ml-3 text-sm text-gray-500"> All New Arrivals </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-category-1" name="category[]" value="tees" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-1" class="ml-3 text-sm text-gray-500"> Tees </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-category-2" name="category[]" value="objects" type="checkbox" checked class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-2" class="ml-3 text-sm text-gray-500"> Objects </label>
              </div>
            </div>
          </div>
        </div>

        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="filter-section-1" aria-expanded="false">
              <span class="font-medium text-gray-900"> Color </span>
              <span class="ml-6 flex items-center">
                <!--
                  Expand/collapse icon, toggle classes based on section open state.

                  Heroicon name: solid/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-1">
            <div class="space-y-6">
              <div class="flex items-center">
                <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-0" class="ml-3 text-sm text-gray-500"> White </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-1" class="ml-3 text-sm text-gray-500"> Beige </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-color-2" name="color[]" value="blue" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-2" class="ml-3 text-sm text-gray-500"> Blue </label>
              </div>
            </div>
          </div>
        </div>

        <div class="border-t border-gray-200 px-4 py-6">
          <h3 class="-mx-2 -my-3 flow-root">
            <!-- Expand/collapse section button -->
            <button type="button" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="filter-section-2" aria-expanded="false">
              <span class="font-medium text-gray-900"> Sizes </span>
              <span class="ml-6 flex items-center">
                <!--
                  Expand/collapse icon, toggle classes based on section open state.

                  Heroicon name: solid/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class="pt-6" id="filter-section-2">
            <div class="space-y-6">
              <div class="flex items-center">
                <input id="filter-mobile-sizes-0" name="sizes[]" value="s" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-sizes-0" class="ml-3 text-sm text-gray-500"> S </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-sizes-1" name="sizes[]" value="m" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-sizes-1" class="ml-3 text-sm text-gray-500"> M </label>
              </div>

              <div class="flex items-center">
                <input id="filter-mobile-sizes-2" name="sizes[]" value="l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-sizes-2" class="ml-3 text-sm text-gray-500"> L </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Filters -->
  <section aria-labelledby="filter-heading">
    <h2 id="filter-heading" class="sr-only">Filters</h2>

    <div class="relative z-10 border-b border-gray-200 py-2">
      <div class="max-w-7xl mx-auto px-4 flex items-center justify-end sm:px-6 lg:px-8">

        <!-- Mobile filter dialog toggle, controls the 'mobileFiltersOpen' state. -->
        <button type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden">Filters</button>

        <div class="hidden sm:block">
          <div class="flow-root">
            <div class="-mx-4 flex items-center divide-x divide-gray-200">
              <div class="px-4 relative inline-block text-left filter-dropdown">
                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false" (click)="openStorage()" clickOutside (clickOutside)="closeStorage()">
                  <span>Storage</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>

                <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none w-5xl" [hidden]="!showStorage">
                  <form class="space-y-4">
                    <div class="flex items-center">
                      <ngx-slider
                        [(value)]="value"
                        [options]="options"
                        [highValue]="highValue"
                        (userChange)="onUserChange($event)">
                      </ngx-slider>
                    </div>
                  </form>
                </div>
              </div>

              <div class="px-4 relative inline-block text-left filter-dropdown">
                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false" (click)="openRam()" clickOutside (clickOutside)="closeRam()">
                  <span>RAM</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>

                <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none" [hidden]="!showRam">
                  <form class="space-y-4">
                    <div class="flex items-center" *ngFor="let ramValue of ramValues">
                      <input [id]="ramValue" [value]="ramValue" (change)="onRamChange(ramValue, $any($event.target)?.checked)"
                      [checked]="filters && filters.ram && filters.ram.includes(ramValue)"
                      type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                      <label [for]="ramValue" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> {{ramValue}} </label>
                    </div>
                  </form>
                </div>
              </div>

              <div class="px-4 relative inline-block text-left filter-dropdown">
                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false" (click)="openHardDisk()" clickOutside (clickOutside)="closeHardDisk()">
                  <span>Hard disk</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>

                <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none w-64" [hidden]="!showHardDisk">
                  <form class="space-y-4">
                    <div class="flex items-center flex-col items-stretch w-full">
                      <div class="">
                        <label for="hardisk" class="block text-sm font-medium text-gray-700">Harddisk</label>
                        <select id="hardisk" name="hardisk" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" (change)="onHardiskChange($any($event.target)?.value)">
                          <option value="">Select Harddisk</option>
                          <option *ngFor="let option of hardiskValues" [value]="option">{{ option }}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="px-4 relative inline-block text-left filter-dropdown">
                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false" (click)="openLocation()" clickOutside (clickOutside)="closeLocation()">
                  <span>Location</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>

                <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none w-64" [hidden]="!showLocation">
                  <form class="space-y-4">
                    <div class="flex items-center flex-col items-stretch w-full">
                      <div>
                        <label for="location" class="block text-sm font-medium text-gray-700">Location</label>
                        <select id="location" name="location" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" (change)="onLocationChange($any($event.target)?.value)">
                          <option value="">Select Location</option>
                          <option *ngFor="let option of locationValues" [value]="option">{{ option }}</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Active filters -->
    <div *ngIf="filters && (filters.ram.length > 0 || filters.storage.length > 0 || filters.hardisk || filters.location)">
      <app-filter-chips [filters]="filters" (filtersUpdated)="updateFilters($event)"></app-filter-chips>
    </div>
  </section>
</div>
